*{
  margin: 0;
  padding: 0;
}
.padding-remove{
  padding: 0 !important;
}
.rehlatMain{
  overflow: hidden;
}
.rehlatMain-header-bg{
  background: #e7ecef;
  width: 100%;
  overflow: hidden;
}
.rehlatMain-header{
  padding-top: 30px !important;
  z-index: 999;
}
.rehlatMain-logo{
  width: 30%;
}
img{
  width: 100%;
  height: 100%;
}
.menu-list{
  width: 12.5% !important;
  background: #184c88 !important;
  color: #FFF !important;
  text-align: center;
}
.menu-list a{
  color: #FFF !important;
}
#style-not{
  color: #000 !important;
    /*cursor: default;*/
    background-color: transparent !important;
    border: 0px solid transparent !important;
    border-bottom-color: transparent;
    margin-right: 0 !important;
    line-height: 1.42857143 !important;
    border: 0px solid transparent !important;
    border-radius:  0 0 !important;
    padding: 0px !important;
    font-weight: 600;
}


#style-not:hover{
    background-color: transparent !important;
}
.nav>li>a {
    padding: 10px !important;
    font-weight: 600;
}
.rehlat-mobile-icon{
  width: 20%;
  float: left;
}
.rehlat-mobile-icon h1{
  margin: 0;
  color: #6c757d;
  font-size: 24px;
}
.rehlat-mobile-icon-number{
  width: 80%;
  float: left;
}
.rehlat-mobile-icon-number h3{
  margin: 0;
  color: #dd3334;
  font-size: 15px;
}
.rehlat-mobile-icon-number p{
  margin: 0;
  color: #6c757d;
      font-size: 9px;
    font-weight: 600;
}
.rehlat-sign-logo{
  overflow: hidden;
}
.rehlat-sign{
  position: relative;
  top: -7px;
}
.rehlat-sign-logo h2{
  margin: 0;
  color: #6c757d;
  text-align: center;
  font-size: 24px; 
}
.rehlat-sign-register{
  overflow: hidden;
}
.rehlat-sign-register h4{
  margin: 0;
  color: #6c757d;
  text-align: center;  
  font-family: sans-serif;
  font-size: 14px;
  padding-top: 5px;
}
.sign{
  padding: 0 4px 0 0;
  border-right: 1px solid #6c757d;
}
.register{
  padding: 0 0 0 4px;
  border-left: 1px solid #6c757d;
}
.rehlat-lang-eng{
  width: 70%;
  float: right;
}
.languagepicker {
  width: 100%;
  background-color: #FFF;
  display: inline-block;
  padding: 0;
  height: 40px;
  overflow: hidden;
  transition: all .3s ease;
  /*margin: 0 50px 10px 0;*/
  vertical-align: top;
  float: left;
  border: 1px solid #6c757d;
}

.languagepicker:hover {
  /* don't forget the 1px border */
  height: 81px;
}

.languagepicker a{
  color: #000;
  text-decoration: none;
}

.languagepicker li {
  display: block;
  padding: 0px 6px;

  line-height: 40px;
  border-top: 1px solid #EEE;
  font-size: small;
}

.languagepicker li:hover{
  background-color: #EEE;
}

.languagepicker a:first-child li {
  border: none;
  background: #FFF !important;
}

.languagepicker li img {
  margin-right: 5px;
}

.rehlat-flight-hotel{
  /*width: 65%;*/
  /*float:left;*/
  background: #fff;
  border: 2px solid #184c88;
  border-radius: 3px;
  border-right-color: transparent;
  padding: 35px !important;
}
.rehlat-whyBook{
  /*width: 35%;*/
  /*float:left;*/
}
.roundborders {
  border-radius: 5px;
}

.large:hover {
  height: 245px;
}
.navbar-nav{
  width: 100% !important;
}
.nav-link:focus, .nav-link:hover {
  -webkit-box-shadow: inset 2px -1px 50px 0px rgba(0,0,0,0.46);
-moz-box-shadow: inset 2px -1px 50px 0px rgba(0,0,0,0.46);
box-shadow: inset 2px -1px 50px 0px rgba(0,0,0,0.46);
}
.navbar-light .navbar-nav .nav-link {
    /*color: rgba(0,0,0,.5);*/
    color: #fff !important;
    font-size: 13px !important;
    width: 12.5% !important;
    text-align: center;
    background: #184c88 !important;
        font-weight: 600;
}
.navbar{
  padding: 0 !important;
}
.nav-link{
  padding: 12px 10px !important;
}
#special-color{
  background: #dd3334 !important;
}
.rehlat-flight-hotel-main{
  overflow: hidden;
  background-image: url("../images/bg-banner.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 40px 0 !important;
  margin-top: -20px;
}
.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: #dd3334 !important;
}
.rehlat-flight-hotel-subMain{
  /*border: 2px solid #184c88;*/
}
/**************tab stat****************/
.btn-group>.t-btn:first-child {
    margin-left: 0;
    -webkit-border-top-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    border-top-left-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-bottom-left-radius: 4px;
}
.btn-group>.t-btn, .btn-group>.dropdown-menu, .btn-group>.popover {
    font-size: 14px;
}
.btn-group>.t-btn {
    position: relative;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.t-btn:active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
    box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
}
.t-btn:hover, .t-btn:focus, .t-btn:active, .t-btn.active, .t-btn.disabled, .t-btn[disabled] {
    color: #333333;
    background-color: #e6e6e6;
    background-color: #d9d9d9;
}
.t-btn {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    padding: 4px 12px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    color: #333333;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    background-color: #f5f5f5;
    background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    *background-color: #e6e6e6;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    border: 1px solid #cccccc;
    *border: 0;
    border-bottom-color: #b3b3b3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    *margin-left: .3em;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
}
.btn-group>.t-btn:last-child {
    margin-left: 0;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    border-bottom-right-radius: 4px;
}


.card {
    background-color: transparent;
    background-clip: border-box !important;
    border: 0px solid rgba(0,0,0,.125) !important;
    border-radius: 0 !important;
}
.card-header{
  padding-top: 0 !important;
  background: transparent !important;
  border: 1px solid transparent !important;
}
.row{
  margin-right: 0px !important; 
    margin-left: 0px !important;
}
.tab-card-header > .tab-content {
  padding-bottom: 0;
}
.navPadding{
      font-size: 14px;
    font-weight: 500;
  padding: 8px 20px !important;
  border: 0px solid transparent !important
      margin-right: 0px !important;
}
.navPadding:hover{
  -webkit-box-shadow: inset 0px 0px 2px 0px rgba(0,0,0,0.46);
-moz-box-shadow: inset 0px 0px 2px 0px rgba(0,0,0,0.46);
box-shadow: inset 0px 0px 2px 0px rgba(0,0,0,0.46);
}
.arrangeName{
      font-size: 12px !important;
    font-weight: 600 !important;
    padding: 5px 38px !important;
}
.span12{
  padding-top: 18px !important;
}
.flex-height{
  display: flex;
}
.col {
  flex: 1; 
}
.radio-button{
  padding: 22px 0;
}
.radio-button span{
  font-size: 13px;
  font-weight: 600;
}
.LEAVING-Going{
  padding: 20px 0 0!important;
}
.DEPARTURE-RETURN{
  padding: 20px 0 0 !important;
}
.AIRLINE{
  padding: 20px 0 0!important;  
}
.input-lg{
  width: 100%;
  padding: 4px 10px !important;
  font-size:16px;
}
.input-group-addon {
    padding: 1px 8px !important;
  }
 .inc{
  display: none !important;
 } 
.input-padding1{
  padding: 0 10px 0 0 !important;
}
.input-padding2{
  padding: 0  0 0 10px!important;
}
.position-arrange{
  position: relative;
  /*top: -20px;*/
}
.label-name{
  font-size: 11px;
  font-weight: 600;
}
.icon-input{
      position: relative;
    top: -60px;
    left: 77%;
}
.btn-color-bg{
    background: #ffd302 !important;
    color: #184c88 !important;
    font-weight: 700;
    width: 100%;
    padding: 8px 0 !important;
}
.SUMBIT-btn{
  margin: 22px 0 0; 
}
.SUMBIT-btn span{
position: relative;
    left: 15%;
  }
.whyBook{
    background: #184c88;
    color: #fff;
    padding-left: 20px !important;
    padding-top: 20px !important
}
.whyBook p{
  color: #ffd302;
      font-weight: 600;
    padding: 0 0 0 11px;
}
.whyBook ul {
  list-style: none;
}

.whyBook ul li:before {
  content: '✓';
  color: #fed404;
  font-size: 19px;
  padding: 0 10px 0 0;
  font-weight: 600;
}
.cardVisit{
  overflow: hidden;
}

.cardVisit p{
  font-size: 38px;
    padding: 0 0 0 48px;
    color: #022d58;
}
.getLower{
  background: #ffd302;
  padding: 12px 0 !important;
}
.getLower h3{
  font-size: 16px;
  font-weight: 600;
  margin: 0;
  text-align: center;
  color: #022d58;
      padding: 30px 0;
}
.getLower p{
    font-size: 10px;
    font-weight: 600;
    margin: 0;
    text-align: center;
    color: #022d58;
    /*padding: 26px 0;*/
        line-height: 1;
}
.search-bar{
  width: 70%;
  margin: 0 auto;
  padding: 20px 0 20px;
  overflow: hidden;

}
.mail{
    position: absolute;
    margin: 5px 0 0 6px;
    left: 56px;
  }
.mail-search{
  padding-left: 30px !important;
    width: 80% !important;
    float: left;
}  
.mail .fa-envelope{
  font-size: 22px;
}
.search-bar button{
      padding: 0 5%;
    /*position: relative;
    top: -5px;*/
    width: 20% !important;
    float: left;
    height: 34px;
}
.top-destination{
  overflow: hidden;
  padding-top: 50px !important;
  padding-bottom: 50px !important;
  background: #e7ecef;
}
.top-destination h3{
  font-size: 19px;
    font-weight: 600;
    color: #3f434f;
    text-align: center;
    text-transform: uppercase;
}
.tour-pLan-set{
  overflow: hidden;
  padding: 0 8px 12px !important;
}
.tour-pLan-image{
  height: 160px;
}
.tour-pLan-image img{
  width: 100% !important;
  height: 100% !important;
}
.tour-pLan-Rate-place{
  padding: 15px 8px 10px !important;
  background: #fff;
}
.tour-pLan-Rate h4{
    margin: 0;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 500;
}
.tour-pLan-place{

}
.tour-pLan-place h4{
   margin: 0;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 500;
  text-align: right;
}
.tour-pLan-place p{
  margin: 0;
  font-size: 11px;
  text-align: right;
}
.top-hotel-Main{
  overflow: hidden;
  padding-top: 30px !important;
  padding-bottom: 300px !important;
}
.top-hotel-Main h4{
    margin: 0;
    font-size: 19px;
    font-weight: 600;
    color: #3f434f;
    text-align: center;
    text-transform: uppercase;
}
.top-hotel-height{
  height: 160px;
}
.top-hotel-height img{
  width: 100%;
  height: 100%;
}
.top-hotel-image{
  padding: 0 8px !important;
}
.top-hotel-resort{
  padding: 0 8px !important; 
}
.top-resort-detial{
  margin-top: 10px !important;
}
.top-resort-detial h3{
  font-size: 18px;
  margin: 0;
  margin-bottom: 4px;
}
.top-resort-detial p{
  font-size: 13px;
    font-weight: 600;
}
.top-resort-detial p span{
  font-size: 20px;
    padding: 0 5px 0 0;
}
.top-hotel{
  margin-top: 20px; 
}
.footer{
  padding: 10px 0 35px !important;
  background: #e7ecef;
}
hr {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    border: 0 !important;
    border-top: 2px solid #fff !important;
}
.footer-main{
  padding: 10px 0 !important;
}
.footer-main-list p{
  font-size: 12px;
  font-weight: 600;
  text-align: left;
  padding: 0 6px;
  text-transform: uppercase;
}
.footer-main-list-ul{
  overflow: hidden;
  margin-bottom: 0;
}
.footer-main-list-ul li{
  list-style: none;
  float: left;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;  
  padding:  0 6px!important;
  cursor: pointer;
    border-right-color: rgb(0, 0, 0) !important;
    border-right-style: solid !important;
    border-right-width: 1px !important;
}
.footer-main-list-ul li:last-child{
  border-right-color: rgb(0, 0, 0) !important;
    border-right-style: solid !important;
    border-right-width: 0px !important;  
}
.footer-logo{
  width: 30%;
  float: right;
}
.KWD{
  padding-top: 10px !important; 
  overflow: hidden;
  background: #e7ecef;
  padding-bottom: 10px !important;
}
.KWD-list{

}
.KWD-list p{
  font-size: 20px;
  margin: 0;
  line-height: 33px;
  /*font-weight: 600;*/
}
.KWD-list button{
  text-transform: uppercase;
  float: right;
  background: #ffd302 !important;
  color: #184c88 !important;
  font-weight: 700;
    /*width: 100%;*/
    /*padding: 8px 0 !important;*/
}
.KWD-small{
  padding-top: 10px !important; 
  overflow: hidden;
  background: #e7ecef;
  padding-bottom: 10px !important;
}
.KWD-list-small{

}
.KWD-list-small p{
  font-size: 15px;
  margin: 0;
  line-height: 23px;
  /*font-weight: 600;*/
}
.KWD-list-small button{
  text-transform: uppercase;
  float: right;
  background: #ffd302 !important;
  color: #184c88 !important;
  font-weight: 700;
    /*width: 100%;*/
    /*padding: 8px 0 !important;*/
}
.kwd-list-border{
  border: 1px solid #e7ecef;
}
.hamburger {
    width: 23px;
    float: right;
    cursor: pointer;
    margin-top: 20px;
    position: relative;
    top: -20px;
    right: 20px;
}
.hamburger span {
    display: block;
    margin: 5px 0 0 0;
    height: 2px;
    border-radius: 8px;
    background: #2186c8;
}
.hamburger{
    display: none;
}

@media (min-width: 768px ) and (max-width: 980px){
  .nav > li > a {
    font-size: 10px;
    padding: 10px 0px !important;
  }
  .padding-780-removing{
    padding: 0 !important;
  }
  .rehlat-mobile-icon-number h3 {
    font-size: 11px;
  }
  .rehlat-mobile-icon-number p {
    font-size: 9px;
  }
  .rehlat-sign-logo h2 {
    font-size: 20px;
  }
  .rehlat-sign-register h4 {
    font-size: 11px;
  }
  .rehlat-lang-eng {
    width: 100%;
  }
  .mail {
    left: 35px;
}
}

@media (min-width: 480px ) and (max-width: 767px){
  .flex-height {
    display: flow-root;
}
  .col {
    flex: none; 
  }
  .menu {
    width: 100% !important;
      display: none;
      clear: both;
      top: 100%;
      position: relative;
      /*width: 80% !important;*/
      margin: 0 auto;
      z-index: 9;
      background: #3ea1da;
      margin: 0 !important;
      padding: 4% 5% !important;
      border-top: 3px solid #2ea3f2!important;
  }
    .menu li {
        width: 100% !important;
        float: none !important;
    }
  .hamburger{
    display: block;
  }  
  .rehlatMain-logo{
    width: 70%;
  }
  .rehlat-mobile-number{
    display: none;
  }
  .rehlat-lang-eng{
    width: 100%;
  }
  .rehlatMain-header-logo-register{
    margin-top: 20px;
  }
  .btn-group > .t-btn, .btn-group > .dropdown-menu, .btn-group > .popover {
    font-size: 10px;
  }
  .checkbox-inline, .radio-inline {
    display: block !important;
  }
  .checkbox-inline + .checkbox-inline, .radio-inline + .radio-inline {
    margin-top: 0;
    margin-left: 0px !important;
  }
  .padding-320-remove{
    padding: 0 !important;
  }
  .margin-removing-left{
    margin-left: 0 !important;
  }
  .input-padding1{
    padding: 0 0 0 0!important;
  }
  .input-padding2{
    padding: 0 0 0 0!important;
  }
  .mail {
    left: 44px;
  }
  .KWD-list p {
    font-size: 17px;
  }
  .top-hotel-height{
    height: auto;
    padding-top: 10px !important;
  }
  .footer-main-list-ul li {
    width: 100%;
    text-align: center;
    border-right-color: rgb(0, 0, 0) !important;
border-right-style: none !important;
border-right-width: 0px !important;
  }
.footer-main-list p {
    font-size: 10px;
    text-align: center;
  }
  .footer-logo {
    width: 40%;
    float: none;
    margin: 0 auto;
  }
}

@media (min-width: 320px ) and (max-width: 479px){
  
  .flex-height {
    display: flow-root;
}
  .col {
    flex: none; 
  }
  .menu {
    width: 100% !important;
      display: none;
      clear: both;
      top: 100%;
      position: relative;
      /*width: 80% !important;*/
      margin: 0 auto;
      z-index: 9;
      background: #3ea1da;
      margin: 0 !important;
      padding: 4% 5% !important;
      border-top: 3px solid #2ea3f2!important;
  }
    .menu li {
        width: 100% !important;
        float: none !important;
    }
  .hamburger{
    display: block;
  }  
  .rehlatMain-logo{
    width: 70%;
  }
  .rehlat-mobile-number{
    display: none;
  }
  .rehlat-lang-eng{
    width: 100%;
  }
  .rehlatMain-header-logo-register{
    margin-top: 20px;
  }
  .btn-group > .t-btn, .btn-group > .dropdown-menu, .btn-group > .popover {
    font-size: 10px;
  }
  .checkbox-inline, .radio-inline {
    display: block !important;
  }
  .checkbox-inline + .checkbox-inline, .radio-inline + .radio-inline {
    margin-top: 0;
    margin-left: 0px !important;
  }
  .padding-320-remove{
    padding: 0 !important;
  }
  .margin-removing-left{
    margin-left: 0 !important;
  }
  .input-padding1{
    padding: 0 0 0 0!important;
  }
  .input-padding2{
    padding: 0 0 0 0!important;
  }
  .mail {
    left: 44px;
  }
  .KWD-list p {
    font-size: 17px;
  }
  .top-hotel-height{
    height: auto;
    padding-top: 10px !important;
  }
  .footer-main-list-ul li {
    width: 100%;
    text-align: center;
    border-right-color: rgb(0, 0, 0) !important;
border-right-style: none !important;
border-right-width: 0px !important;
  }
.footer-main-list p {
    font-size: 10px;
    text-align: center;
  }
  .footer-logo {
    width: 40%;
    float: none;
    margin: 0 auto;
  }
}
